<ul> 


<li><%=  @cat.name %></li>
<li><%=  @cat.age %></li>
<li><%=  @cat.color %></li>
<li><%=  @cat.sex %></li>
<li><%=  @cat.description %></li>

<li> <a href="<%= cats_url %>">Go to cat index</a></li>






</ul>